###import

In [0]:
import os
import sys
import pandas as pd

###Auth

In [152]:
savedir = ""
if 'google.colab' in sys.modules:
    from google.colab import drive
    drive.mount('/content/gdrive')
    savedir = "/content/gdrive/My Drive/colab/"
    try:
        os.mkdir(savedir)
    except FileExistsError:
        print("Directory \"%s\" already exists" % (savedir))

os.listdir(savedir)
os.chdir(savedir)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
Directory "/content/gdrive/My Drive/colab/" already exists

### **Read .csv from google drive**

In [153]:
college = pd.read_csv('College.csv', header=0)
college.head(n=3)

                     Unnamed: 0 Private  Apps  ...  perc.alumni  Expend  Grad.Rate
0  Abilene Christian University     Yes  1660  ...           12    7041         60
1            Adelphi University     Yes  2186  ...           16   10527         56
2                Adrian College     Yes  1428  ...           30    8735         54

[3 rows x 19 columns]

In [154]:
row_names = college.columns.values
print(row_names)

['Unnamed: 0' 'Private' 'Apps' 'Accept' 'Enroll' 'Top10perc' 'Top25perc'
 'F.Undergrad' 'P.Undergrad' 'Outstate' 'Room.Board' 'Books' 'Personal'
 'PhD' 'Terminal' 'S.F.Ratio' 'perc.alumni' 'Expend' 'Grad.Rate']

In [155]:
university_names = college.iloc[:,0]
print(university_names)

0                 Abilene Christian University
1                           Adelphi University
2                               Adrian College
3                          Agnes Scott College
4                    Alaska Pacific University
5                            Albertson College
6                      Albertus Magnus College
7                               Albion College
8                             Albright College
9                    Alderson-Broaddus College
10                           Alfred University
11                           Allegheny College
12     Allentown Coll. of St. Francis de Sales
13                                Alma College
14                             Alverno College
15              American International College
16                             Amherst College
17                         Anderson University
18                          Andrews University
19                     Angelo State University
20                          Antioch University
21                Appalachian State University
22                             Aquinas College
23        Arizona State University Main campus
24             Arkansas College (Lyon College)
25                    Arkansas Tech University
26                          Assumption College
27               Auburn University-Main Campus
28                            Augsburg College
29                        Augustana College IL
                        ...
747                    Westfield State College
748                     Westminster College MO
749                        Westminster College
750      Westminster College of Salt Lake City
751                           Westmont College
752                         Wheaton College IL
753                     Westminster College PA
754                    Wheeling Jesuit College
755                            Whitman College
756                           Whittier College
757                          Whitworth College
758                         Widener University
759                          Wilkes University
760                      Willamette University
761                     William Jewell College
762                   William Woods University
763                           Williams College
764                             Wilson College
765                            Wingate College
766                    Winona State University
767                        Winthrop University
768                 Wisconsin Lutheran College
769                      Wittenberg University
770                            Wofford College
771            Worcester Polytechnic Institute
772                    Worcester State College
773                          Xavier University
774             Xavier University of Louisiana
775                            Yale University
776               York College of Pennsylvania
Name: Unnamed: 0, Length: 777, dtype: object

### **the difference between data.iloc[100,:] and data.iloc[[100]]**

In [156]:
print(college.iloc[100,:])
print(college.iloc[[100]])

Unnamed: 0     Center for Creative Studies
Private                                Yes
Apps                                   601
Accept                                 396
Enroll                                 203
Top10perc                                1
Top25perc                               20
F.Undergrad                            525
P.Undergrad                            323
Outstate                             11230
Room.Board                            6643
Books                                 2340
Personal                               620
PhD                                      8
Terminal                                58
S.F.Ratio                              6.8
perc.alumni                              4
Expend                               13025
Grad.Rate                               47
Name: 100, dtype: object
                      Unnamed: 0 Private  Apps  ...  perc.alumni  Expend  Grad.Rate
100  Center for Creative Studies     Yes   601  ...            4   13025         47

[1 rows x 19 columns]

### **reset the row names with university names**

In [157]:
#two ways
#college.set_index(university_names, inplace=True)
college.index = university_names
college = college.drop('Unnamed: 0', axis=1)
college.head()

                             Private  Apps  ...  Expend  Grad.Rate
Unnamed: 0                                  ...
Abilene Christian University     Yes  1660  ...    7041         60
Adelphi University               Yes  2186  ...   10527         56
Adrian College                   Yes  1428  ...    8735         54
Agnes Scott College              Yes   417  ...   19016         59
Alaska Pacific University        Yes   193  ...   10922         15

[5 rows x 18 columns]

###Total/Average number of applications

In [158]:
apps_total = college['Apps'].sum()
print("The total number of applications received is %d" % apps_total)

The total number of applications received is 2332273

In [159]:
apps_avg = apps_total / college.shape[0]
print("The average number of applications received is %.2f" % apps_avg)

The average number of applications received is 3001.64

###university which has over 5000 applications

In [160]:
univ_apps_5000 = college[college['Apps']>5000]
print(univ_apps_5000.index.values)

['Appalachian State University' 'Arizona State University Main campus'
 'Auburn University-Main Campus' 'Baylor University'
 'Bloomsburg Univ. of Pennsylvania' 'Boston University'
 'Bowling Green State University' 'Brigham Young University at Provo'
 'Brown University' 'Bucknell University'
 'California Polytechnic-San Luis' 'Carnegie Mellon University'
 'Clemson University' 'College of William and Mary'
 'Colorado State University' 'Columbia University' 'Dartmouth College'
 'Duke University' 'East Carolina University'
 'Eastern Illinois University' 'Emory University'
 'Florida State University' 'Franklin Pierce College'
 'George Mason University' 'George Washington University'
 'Georgetown University' 'Georgia Institute of Technology'
 'Grand Valley State University' 'Hampton University' 'Harvard University'
 'Hofstra University' 'Illinois State University'
 'Indiana State University' 'Indiana University at Bloomington'
 'Iowa State University' 'Ithaca College' 'James Madison University'
 'Johns Hopkins University' 'Kansas State University' 'Lehigh University'
 'Louisiana State University at Baton Rouge' 'Marquette University'
 'Massachusetts Institute of Technology' 'Miami University at Oxford'
 'Michigan State University' 'Millersville University of Penn.'
 'Montclair State University' 'New York University'
 'North Carolina State University at Raleigh'
 'Northeast Missouri State University' 'Northeastern University'
 'Northern Arizona University' 'Northern Illinois University'
 'Northwestern University' 'Ohio University' 'Pace University'
 'Pennsylvania State Univ. Main Campus' 'Princeton University'
 'Providence College' 'Purdue University at West Lafayette'
 'Radford University' 'Rutgers at New Brunswick'
 'Rutgers State University at Newark' 'San Diego State University'
 'Shippensburg University of Penn.' 'Southwest Missouri State University'
 'SUNY at Albany' 'SUNY at Binghamton' 'SUNY at Buffalo'
 'SUNY at Stony Brook' 'SUNY College  at Brockport'
 'SUNY College  at Oswego' 'SUNY College at Buffalo'
 'SUNY College at Cortland' 'SUNY College at Geneseo'
 'SUNY College at New Paltz' 'SUNY College at Plattsburgh'
 'Syracuse University' 'Texas A&M Univ. at College Station'
 'Trenton State College' 'Tulane University'
 'University of California at Berkeley'
 'University of California at Irvine' 'University of Central Florida'
 'University of Chicago' 'University of Cincinnati'
 'University of Connecticut at Storrs' 'University of Dayton'
 'University of Delaware' 'University of Florida' 'University of Georgia'
 'University of Hartford' 'University of Illinois - Urbana'
 'University of Illinois at Chicago' 'University of Kansas'
 'University of Maryland at College Park'
 'University of Massachusetts at Amherst' 'University of Miami'
 'University of Michigan at Ann Arbor'
 'University of Minnesota Twin Cities'
 'University of Missouri at Columbia' 'University of Nebraska at Lincoln'
 'University of New Hampshire'
 'University of North Carolina at Chapel Hill'
 'University of North Carolina at Charlotte'
 'University of North Carolina at Greensboro'
 'University of North Carolina at Wilmington'
 'University of Northern Colorado' 'University of Notre Dame'
 'University of Oregon' 'University of Pennsylvania'
 'University of Pittsburgh-Main Campus' 'University of Rhode Island'
 'University of Richmond' 'University of Rochester'
 'University of South Carolina at Columbia' 'University of South Florida'
 'University of Southern California'
 'University of Tennessee at Knoxville' 'University of Texas at Austin'
 'University of Utah' 'University of Vermont' 'University of Virginia'
 'University of Washington' 'University of Wisconsin at Madison'
 'University of Wisconsin at Milwaukee' 'Vanderbilt University'
 'Villanova University' 'Virginia Tech' 'Wake Forest University'
 'Washington State University' 'Washington University'
 'West Chester University of Penn.' 'Western Michigan University'
 'Western Washington University' 'Yale University']

In [161]:
univ_grad_5000 = univ_apps_5000['Grad.Rate'].mean(axis=0)
print("The average graduation rate for universities that received more than 5000 applications is %.2f" % univ_grad_5000)

univ_apps_4999 = college[college['Apps'] <= 5000]
univ_grad_4999 = univ_apps_4999['Grad.Rate'].mean(axis=0)
print("The average graduation rate for universities that received less than or equal to 5000 applications is %.2f" % univ_grad_4999)

The average graduation rate for universities that received more than 5000 applications is 68.64
The average graduation rate for universities that received less than or equal to 5000 applications is 64.79

In [162]:
high_full_grads = college[college['F.Undergrad'] == college['F.Undergrad'].max()]
print("%s has the highest number of full time undergrads" % high_full_grads.index.values[0])

low_full_grads = college[college['F.Undergrad'] == college['F.Undergrad'].min()]
print("%s has the lowest number of full time undergrads" % low_full_grads.index.values[0])

Texas A&M Univ. at College Station has the highest number of full time undergrads
Christendom College has the lowest number of full time undergrads